body {
    height: 100%;
    width: 100%;
}
html {
    cursor: url('./cursor.png') 4 12, auto;
}
.header-center {
    text-align: center;
    font-family: verdana;
}
.iframe {
    margin: auto;
    display: block;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /*background-color: white;*/
    font-family: arial;
    color: black;
    text-align: center;
    font-size: 1.5em;
 }
body {
    background-image: url("bitch.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
.center {
    text-align: center;
}
.middlefinger {
    background-image: url("./middlefinger.png");
    height: 100%;
    width: 100%;
    z-index: 100;
}