.header-center {
    text-align: center;
    font-family: verdana;
}
.iframe {
    margin: 0 auto;
    display: block;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    font-family: arial;
    color: black;
    text-align: center;
 }
body {
    background-image: url("bitch.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }